services:
  proxy:
    image: nginx
    restart: "unless-stopped"
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "10"
    volumes:
      - type: bind
        source: ./proxy/nginx.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
      - type: bind
        source: ./proxy/.htpasswd
        target: /etc/nginx/conf.d/.htpasswd
        read_only: true
      - type: bind
        source: ./proxy//fullchain.pem
        target: /etc/nginx/conf.d/fullchain.pem
        read_only: true
      - type: bind
        source: ./proxy/privkey.pem
        target: /etc/nginx/conf.d/privkey.pem
        read_only: true
      - ./backend/downloads/user:/usr/share/nginx/html/user
    ports:
      - 80:80
      - 443:443
    depends_on:
      - backend

  backend:
    restart: "unless-stopped"
    build: 
      context: ./backend/
    volumes:
      - ./backend/downloads:/usr/src/app/downloads     
      - ./backend/static:/usr/src/app/static
      - ./backend/sqlite-database.db:/etc/nginx/conf.d/sqlite-database.db

