
:root {
  --body-background-color: #000000; 
  --box-background-color:  #2a3d20;
  --inner-box-background-color: #000000;
  --box-border-color: #2a3d20;
  --background-color: #000000;
  --text-color: #ffb000;
  --button-text-color: #ffb000;
}

#banner {
    content:url(/static/themes/cyberpunk_amber_CRT/banner.png);
 }

#home-button {
    content:url(/static/themes/cyberpunk_amber_CRT/index.png);
    height: 25px;
}

 #mail-button {
    content:url(/static/themes/cyberpunk_amber_CRT/mail.png);
    height: 25px;
}

 #notification-button {
    content:url(/static/themes/cyberpunk_amber_CRT/notifications.png);
    height: 25px;
}

 #chat-button {
    content:url(/static/themes/cyberpunk_amber_CRT/chat.png);
    height: 25px; 
}

 #user-button {
    content:url(/static/themes/cyberpunk_amber_CRT/settings.png);
    height: 25px;
}

 #next-page-button{
    content:url(/static/themes/cyberpunk_amber_CRT/more.png);
    height: 25px; 
}
