
body {
    width: fit-content;
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0089da;;
    color: #000000;
}

header {
    background-color: #0089da;;
    color: #0089da;;
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: #0089da;;
}

.header-button {
    /*content:url(/static/themes/light/_user_icon.png);*/
    cursor: pointer;
    background-color: #c0c0c0;
    color: #000000;
    border: none;
    padding: 2px 5px;
    font-size: 20px;
    border-radius: 2px;
    margin-top: 5px; /* Add margin above button */
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

#banner {
    content:url(/static/themes/vaporwave/banner.png);
    width: 400px;
    background-color: #ffffff00;
 }

#home-button {
    content:url(/static/themes/vaporwave/index.png);
    height: 50px;
    width: 50px;
    background-color: #ffffff00;
 }

 #mail-button {
    content:url(/static/themes/vaporwave/mail.png);
    height: 50px;
    width: 50px;
    background-color: #ffffff00;
 }

 #notification-button {
    content:url(/static/themes/vaporwave/notifications.png);
    height: 50px;
    width: 50px;
    background-color: #ffffff00;
 }

 #chat-button {
    content:url(/static/themes/vaporwave/chat.png);
    height: 50px;
    width: 50px;
    background-color: #ffffff00;
 }

 #user-button {
    content:url(/static/themes/vaporwave/settings.png);
    height: 50px;
    width: 50px;
    background-color: #ffffff00;
 }

 #next-page-button{
    content:url(/static/themes/vaporwave/more.png);
    height: 50px;
    width: 50px;
    background-color: #ffffff00;
 }


.chatContainer {
  height: 100%;
}

.link-button {
    cursor: pointer;
    background-color: #c0c0c0;
    color: #000000;
    border: none;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 2px;
    margin-top: 5px; /* Add margin above button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.item-box {
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    /* margin: 5px 0; */
    background-color: #000000;
    display: flex;
    flex-direction: column; /* Change to column layout */
    /* max-width: 800px; */
    margin-left: auto;
    margin-right: auto;
}

.title-text {
    font-size: 18px;
  /*  margin-bottom: 10px; /* Add spacing below title */ 
}

.button-group {
    display: block; /* Change to block */
    gap: 10px; /* Keep gap for spacing */
}

.collapse-button {
    cursor: pointer;
    background-color: #c0c0c0;
    color: #000000;
    border: none;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 2px;
    margin-top: 5px; /* Add margin above button */
}

.reply-button {
    cursor: pointer;
    background-color: #c0c0c0;
    color: #000000;
    border: none;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 2px;
    margin-top: 5px; /* Add margin above button */
}

.reply-submit-button {
    cursor: pointer;
    background-color: #c0c0c0;
    color: #000000;
    border: none;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 2px;
    margin-top: 5px; /* Add margin above button */
}

.edit-button {
    cursor: pointer;
    background-color: #c0c0c0;
    color: #000000;
    border: none;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 2px;
    margin-top: 5px; /* Add margin above button */
}

.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    
}

.reply-box {
    display: none; /* Hidden initially */
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    margin: 5px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.pic-button {
    cursor: pointer;
    background-color: #c0c0c0;
    color: #000000;
    border: none;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 2px;
    margin-top: 5px; /* Add margin above button */
}

.edit-submit-button {
    cursor: pointer;
    background-color: #c0c0c0;
    color: #000000;
    border: none;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 2px;
    margin-top: 5px; /* Add margin above button */
}

.pic-box {
    display: none; /* Hidden initially */
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    margin: 5px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.edit-box {
    display: none; /* Hidden initially */
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    margin: 5px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.post-box {
    display: none; /* Hidden initially */
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    margin: 5px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.post-box textarea {
    width: 98%;
    height: 80px;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px; /* Add spacing below textarea */
    background-color: #ffffff;
    color: #000000;
}

.edit-box textarea {
    width: 100%;
    height: 80px;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px; /* Add spacing below textarea */
    background-color: #ffffff;
    color: #000000;
}

.reply-box textarea {
    width: 100%;
    height: 80px;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px; /* Add spacing below textarea */
    background-color: #ffffff;
    color: #000000;
}

.post-button {
    cursor: pointer;
    background-color: #c0c0c0;
    color: #000000;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px; /* Add margin above button */
}

.send-button {
    cursor: pointer;
    background-color: #c0c0c0;
    color: #000000;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px; /* Add margin above button */
}

.instructions {
    font-size: 14px;
    background-color: #c0c0c0;
    color: #000000;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul ul {
    /*margin-left: -15px; */
    margin-left: 0px;
}

/* New styles for list items */
li {
    word-wrap: break-word;
    border: 1px solid #ccc; /* Border around list items */
    padding: 10px; /* Padding inside the list item */
    margin: 5px 0; /* Spacing between list items */
    background-color: #000000;
    color: #ff81ea;
    border-radius: 5px; /* Rounded corners for list items */
}

.index-comments {
    max-width: 400px;
}

pre {
    min-width: 250px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    line-height: 1; 
}

.user-icon{
    width: 50px;
    height: 50px;
}

.post-pic{
    width:370px;
    height: auto;
}