
:root {
  --body-background-color: #0176a2; 
  --box-background-color:  #c0c0c0;
  --inner-box-background-color: #ffffff;
  --box-border-color: #0176a2;
  --background-color: #0176a2;
  --text-color: #000000;
  --button-text-color: #000000;
}

#banner {
    content:url(/static/themes/win95/banner.png);
 }

#home-button {
    content:url(/static/themes/win95/index.png);
    height: 50px;
    width: 50px;
}

 #mail-button {
    content:url(/static/themes/win95/mail.png);
    height: 50px;
    width: 50px;
}

 #notification-button {
    content:url(/static/themes/win95/notifications.png);
    height: 50px;
    width: 50px;
}

 #chat-button {
    content:url(/static/themes/win95/chat.png);
    height: 50px;
    width: 50px; 
}

 #user-button {
    content:url(/static/themes/win95/settings.png);
    height: 50px;
    width: 50px;
}

 #next-page-button{
    content:url(/static/themes/win95/more.png);
    height: 50px;
    width: 50px; 
}
