:root {
  --body-background-color: #e1f7ff; 
  --box-background-color:  #c0c0c0;
  --inner-box-background-color: #ffffff;
  --box-border-color: #ccc;
  --background-color: #ffffff;
  --text-color: #000000;
  --button-text-color: #000000;
}

