:root {
  --body-background-color: #000000; 
  --box-background-color:  #c0c0c0;
  --inner-box-background-color: #555353;
  --box-border-color: #ccc;
  --background-color: #000000;
  --text-color: #f5f0d1;
  --button-text-color: #000000;
}

#banner {
    content:url(/static/themes/dark/banner.png);

 }

#home-button {
    content:url(/static/themes/dark/index.png);

 }

 #mail-button {
    content:url(/static/themes/dark/mail.png);

 }

 #notification-button {
    content:url(/static/themes/dark/notifications.png);

 }

 #chat-button {
    content:url(/static/themes/dark/chat.png);

 }

 #user-button {
    content:url(/static/themes/dark/settings.png);

 }

 #next-page-button{
    content:url(/static/themes/dark/more.png);

 }




























