<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/themes/{{.User.Theme}}/index.css">
    <title>Chat</title>

    {{ template "header" . }}

</head>
<body onload="javascript:join('{{.User.Username}}')"> 
    <table class="chatContainer" id="chatContainer">
        <tr>
            <td valign="top">
                <div id="output"></div>
            </td>
        </tr>
        <tr>
            <td valign="bottom">
                <div id="chatInput">
                    <input id="textField" class="chat-text-input" name="name" type="text">
                    <!--   <input onclick="join();" value="Join" type="button">  -->
                       <input id="chat-send-button" onclick="sendMessage();" value="Chat" type="button"> 
                       <br><br><br>
                </div>
            </td>
        </tr>
    </table>
    <script language="javascript" type="text/javascript" src="/static/chat.js">       
    </script>
</body>
</html>