<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/themes/{{.User.Theme}}/index.css">
    <title>Index</title>

    {{ template "header" . }}

</head>
<body onload="javascript:join('{{.User.Username}}')"> 
    <h1>WebSocket : Chat</h1>
    <div style="text-align: center;">
        <form action=""> 
            
            <table>
                <tr>
                    <td>
                        Users<br/>
                        <textarea readonly="true" rows="6" cols="20" id="userField"></textarea>
                    </td>
                    <td>
                        Chat Log<br/>
                        <textarea readonly="true" rows="6" cols="50" id="chatlogField"></textarea> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="textField" name="name" value="Duke" type="text"><br>
                     <!--   <input onclick="join();" value="Join" type="button">  -->
                        <input onclick="sendMessage();" value="Chat" type="button"> 
                    </td>
                </tr>
            </table>

        </form>
    </div>
    <div id="output"></div>
    <p>chat.html</p>
    <script language="javascript" type="text/javascript" src="/static/chat.js">
        
    </script>
</body>
</html>