{{ define "header" }}
<header><div id="banner" class="title-bar">ComoPeculiarity</div></header>
<div class="button-row">

    <a id="home-button" class="header-button" href="/" >Home</a>
    <a id="mail-button" class="header-button" href="/mailIndex" >Mail</a>
    <a id="notification-button" class="header-button" href="/notifications" >Notifications</a>
    <a id="chat-button" class="header-button" href="/chat">Chat</a>
    <a id="user-button" class="header-button" href="/user">User</a>

</div>
{{ end }}