<!doctype html>
<script 
    src="https://unpkg.com/htmx.org@2.0.2" 
    integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" 
    crossorigin="anonymous">
</script>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to como pecularity</title>
  <meta name="description" content="Golang BBS">
  <meta name="author" content="Bishop">
  <link rel="stylesheet" type="text/css" href="/static/resources/indexStyle.css">
</head>
<body>
    <p>PECULARITY</p>
<p>
    <ul id="comment-list">
        {{range .Comments}} {{block "comment-list-element" .}}
        <li>{{.Message}}</li>
        {{end}} {{end}}    
    </ul>
</p> 



<form hx-swap="beforeend" hx-target="#comment-list" hx-post="/addcomment">
    <label for="new_comment">New Comment:</label>
    <input type="text" name="comment" id="comment">
    <input value="Submit" type="submit" >
</form>
</body>
</html>