<!DOCTYPE html>
<script 
    src="https://unpkg.com/htmx.org@2.0.2" 
    integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" 
    crossorigin="anonymous">
</script>
<script>

    document.addEventListener('htmx:afterSettle',function(evt){
        init(); 
    });

</script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Index</title>

    {{ template "header" . }}

    <button class="post-button" >Post</button>
            <!-- Reply box that will show/hide when reply button is clicked -->
            <div id="post-box" class="post-box">
                <div class="instructions">Enter your post below:</div>
                <form hx-swap="innerHTML" hx-target="#comment-list" hx-post="/indexAddHandler"> 
                    <label for="user">Choose a User to Direct Message:</label>
                    <select id="user" name="user">
                        {{range .Users}}
                        <option value="{{.Username}}">{{.Username}}</option>
                        {{end}}
                    </select>
                    <textarea name="comment" id="comment" placeholder="Write your comment here..." rows="4" cols="50"></textarea>
                    <input value="Submit" type="submit" onclick='current_comment = "post-box";'> 
                </form>
            </div>

</head>
<body>
<!-- Recursive template rendering for lists with sub-lists -->
{{block "comment-list-element" .}} 
{{template "list" .Comments}} 
{{end}}
<script src="/static/mailIndex.js"></script>
</body>
</html>
<!-- Recursive List Template Definition -->
{{define "list"}} 
    <ul id="comment-list" style="list-style-type:none; padding-left: 0;">
    {{range .}} 
        <li>
            
            <!--{{ $itemId := (printf "item-%d" .Id) }} --><!-- Unique ID for each item -->
            <!--{{ $replyBoxId := (printf "reply-box-%d" .Id) }} --><!-- Unique ID for each reply box -->
            <!--{{ $collapseContentId := (printf "collapse-content-%d" .Id) }} --><!-- Unique ID for each collapsible content -->
        
            {{ $itemId := (printf "item-%s" .Id) }} <!-- Unique ID for each item -->
            {{ $replyBoxId := (printf "reply-box-%s" .Id) }} <!-- Unique ID for each reply box -->
            {{ $editBoxId := (printf "edit-box-%s" .Id) }} <!-- Unique ID for each reply box -->
            {{ $picBoxId := (printf "pic-box-%s" .Id) }} <!-- Unique ID for each reply box -->
            {{ $collapseContentId := (printf "collapse-content-%s" .Id) }} <!-- Unique ID for each collapsible content -->
        

            <div class="item-box">
                <div class="comment">

                    <span class="title-text">{{.User}} wrote: <br>{{.Message}}</span>
                    <br>
                    {{if .Picture}}
                        <img src="{{(printf "/downloads/%s" .Picture)}}"  width="800" height="auto">
                    {{end}}
                </div>
                

                <div class="button-group">

                    <!-- Reply button for all items -->
                    <!-- <button class="reply-button" data-reply-target="{{ $replyBoxId }}">Comments</button> -->
                    <a href="{{(printf "/mail/%s" .Id)}}" >Continue This Conversation</a> 

                    {{if .Editable}}
                        <!-- Edit button removed for mail index 
                        <button class="edit-button" data-edit-target="{{ $editBoxId }}">Edit</button>
                        -->

                        <div class="pic-box">
                        <!--    
                        <form class="form-horizontal" id="{{ $picBoxId }}" hx-encoding="multipart/form-data" name = "filesForm" hx-swap="innerHTML" hx-target="#comment-list" hx-post="/mailUpload" >    
                            <div class="input-group">
                                <input type = "hidden" name = "root" class="root_input" value = "" />
                                <input type = "hidden" name = "id" value ="{{.Id}}" />
                                <input type="file" name="myfiles" id="myfiles" multiple="multiple" class="form-input input-lg" onchange="autoSubmitForm('{{ $picBoxId }}')"> 
                                <button type="submit" style="display: none;">Upload</button>
                            </div>
                        </form>
                        </div>  
                    -->                 
                    {{end}}
                </div>
            </div>
            <!-- Edit box that will show/hide when edit button is clicked -->
            <div id="{{ $editBoxId }}" class="edit-box">
                <div class="instructions">Enter new text below:</div>
                <form hx-swap="innerHTML" hx-target="#comment-list" hx-post="/indexEditComment"> 
                    <input type = "hidden" name = "parent" value = "{{ $replyBoxId }}" />
                    <input type = "hidden" name = "root" class="root_input" value = "" />
                    <input type = "hidden" name = "id" value ="{{.Id}}" />
                    <input type = "hidden" name = "source" value = "index" />
                       <!-- <input type="textarea" name="comment" id="comment" placeholder="Write your reply here..."> -->
                    <textarea name="comment" id="comment" rows="4" cols="50">{{.Message}}</textarea>
                    <input value="Submit" type="submit" onclick='current_comment = "{{ $replyBoxId }}";'> 
                </form>
            </div>
        </li>
    {{end}} 
    </ul>
{{end}} 