<!DOCTYPE html>
<script 
    src="https://unpkg.com/htmx.org@2.0.2" 
    integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" 
    crossorigin="anonymous">
</script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/themes/{{.User.Theme}}/index.css">
    <title>Index</title>

    {{ template "header" . }}

</head>
<body>
    {{block "level-element" .}} 
    {{if eq .User.Level 100}}
    <div id="level-target">
    <form action="/userLevelUpdate"></form>
    <form class="form-horizontal" id="userLevel" hx-encoding="multipart/form-data" name = "levelForm" hx-swap="innerHTML" hx-target="#level-target" hx-post="/userLevelUpdate" >    
    <label for="user">Choose a User and set level:  </label>
    <select id="user" name="user" class="name-select">
        {{range .Users}}
        <option >{{.Username}} </option>
        {{end}}
    </select>
    <input id="level" name="level" class="level-number-input" type="number">
    <button id="levelsubmit" name="levelsubmit" type="submit" style="display: none;">Level</button>
    </form>
    <button class="level-button" data-level-target="userLevel">Update User Level</button>
    </div>
    <br>
    {{end}}
    {{end}}


    {{block "icon-element" .}} 
    <div id="icon-target">
    <span><img class="user-icon" id="icon-img" src="{{(printf "/downloads/%s/_user_icon.png" .User.Username )}}" > <br> </span>
    <button class="pic-button" data-pic-target="userIcon">Update User Icon</button>
    <form style="display: none;" class="form-horizontal" id="userIcon" hx-encoding="multipart/form-data" name = "filesForm" hx-swap="innerHTML" hx-target="#icon-target" hx-post="/userIconUpload" >    
        <div class="input-group">
            <input type="file" name="myfiles" id="myfiles" multiple="multiple" class="form-input input-lg" onchange="autoSubmitIconForm('userIcon',event)"> 
            <button type="submit" style="display: none;">Upload</button>
        </div>
    </form>
    </div>
    {{end}}

    <br>

    {{ $theme := .User.Theme }}
    <div class="instructions">Modify User Settings below:</div>
    <form action="/userUpdate"> 
        <label for="theme">Choose a Theme:  </label>
        <select id="theme" name="theme">
            {{range .Themes}}
            <option value="{{.}}" {{ if eq . $theme }}selected{{ end }}>{{.}} </option>
            {{end}}
        </select>
        <br>
        <label for="email">Email for Notifications: </label>
        <input id="email" class="email-text-input" name="email" type="text" value="{{.User.Email}}">
        <br>
        <input value="Submit" type="submit" > 
    </form>

    <br>
    {{block "file-element" .}}
    <div id="files-target">
    <button class="files-button" data-files-target="userFiles">Upload To Server</button>
    <form style="display: none;" class="form-horizontal" id="userFiles" hx-encoding="multipart/form-data" name = "filesForm" hx-swap="innerHTML" hx-target="#files-target" hx-post="/userFileUpload" >    
        <div class="input-group">
            <input type="file" name="myfiles" id="myfiles" multiple="multiple" class="form-input input-lg" onchange="autoSubmitFilesForm('userFiles',event)"> 
            <button type="submit" style="display: none;">Upload</button>
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Date</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{ $username := .User.Username }}
            {{range .Files}}
            <tr class="active">
                <td><a href="{{(printf "/downloads/user/%s/%s" $username .Name )}}"><b>{{.Name }}</b> </a></td>
                <td>{{.Size}}</td>
                <td>{{.ModTime}}</td>
                <td><button hx-get="/userFileDelete/{{.Name}}/" hx-swap="innerHTML" hx-target="#files-target" >DELETE</button></td>
            </tr>
            {{end}}
        </tbody>
    </table>
    </div>
    {{end}}
    <script src="/static/user.js"></script>
</body>


