<!DOCTYPE html>
<script 
    src="https://unpkg.com/htmx.org@2.0.2" 
    integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" 
    crossorigin="anonymous">
</script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/themes/{{.User.Theme}}/index.css">
    <title>Index</title>

    {{ template "header" . }}

</head>
<body>
    {{ $theme := .User.Theme }}
    <div class="instructions">Modify User Settings below:</div>
    <form action="/userUpdate"> 
        <label for="theme">Choose a Theme: </label>
        <select id="theme" name="theme">
            {{range .Themes}}
            <option value="{{.}}" {{ if eq . $theme }}selected{{ end }}>{{.}} </option>
            {{end}}
        </select>
        <input value="Submit" type="submit" > 
    </form>

    {{block "icon-element" .}} 
    <div id="icon-target">
    <span><img class="user-icon" id="icon-img" src="{{(printf "/downloads/%s/_user_icon.png" .User.Username )}}" > <br> </span>
    <button class="pic-button" data-pic-target="userIcon">Update User Icon</button>
    <form style="display: none;" class="form-horizontal" id="userIcon" hx-encoding="multipart/form-data" name = "filesForm" hx-swap="innerHTML" hx-target="#icon-target" hx-post="/userIconUpload" >    
        <div class="input-group">
            <input type="file" name="myfiles" id="myfiles" multiple="multiple" class="form-input input-lg" onchange="autoSubmitForm('userIcon',event)"> 
            <button type="submit" style="display: none;">Upload</button>
        </div>
    </form>
    </div>
    {{end}}
    <script src="/static/user.js"></script>
</body>


